@import 'tailwindcss';

@import './texture.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #7f1d1d;
  --accent-border: #fca5a5;
  --accent-background: #fff0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #f87171;
    --accent-border: #7f1d1d;
    --accent-background: #2e0404;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

.border-accent {
  border-color: var(--accent-border);
}

.accent-color {
  color: var(--accent);
}
